@{
    ViewBag.Title = "InvalidSubscription";
}

<h2>Invalid Subscription</h2>

<p>Oops! Looks like your subscription is not currently in effect, or has been disabled. Please contact an administrator if you feel this is an error.</p>
